body {
	background-color: lightblue;
	border:solid 10px #000000;
	font-family: sans-serif;
}

.centred-form {
	margin : 0 auto;
}

table.sports {
    width: 100%;
    border-collapse: collapse; 
    border-bottom: 1px solid #000;
}

th{
	background-color: #4CAF50;
	color: white;
}
